@page
@model Naros_Ana_Maria_AdoptAPet.Pages.Pets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Breed" class="control-label"></label>
                <input asp-for="Pet.Breed" class="form-control" />
                <span asp-validation-for="Pet.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Age" class="control-label"></label>
                <input asp-for="Pet.Age" class="form-control" /> <p> *Please state if Month or Years*</p>
                <span asp-validation-for="Pet.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.AvailableDate" class="control-label"></label>
                <input asp-for="Pet.AvailableDate" class="form-control" />
                <span asp-validation-for="Pet.AvailableDate" class="textdanger"></span>
            </div>
            <label asp-for="Pet.LocationID" class="control-label">Location</label>
            <select asp-for="Pet.LocationID" class="form-control" asp-items="ViewBag.LocationID">
            </select>
                <div class="form-group">
                    <label asp-for="Pet.Photo" class="control-label">Image</label>
                    <input asp-for="Pet.Photo" type="file" />
                    <span asp-validation-for="Pet.Photo" class="textdanger"></span>
                </div>

              
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="radio"
                                               name="selectedCategories"
                                               value="@cat.CategoryID"
                                               @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                        @cat.CategoryID @: @cat.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }